*.iml
.kotlin
.gradle
**/build/
xcuserdata
!src/**/build/
local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings

# signing materials (kept outside the repository, see androidApp/build.gradle.kts)
*-signing.properties
*.jks
*.keystore

# sign keystore to play store
encryption_public_key.pem
sign.sh
pepk.jar


# pi session artifacts
.pi/

# local planning docs
.planning/
