<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

  <application>
    <!-- AdMob App ID 由 manifestPlaceholder 注入(本地: local.properties admob.appId;CI: ADMOB_APP_ID secret),不落仓库 -->
    <meta-data
      android:name="com.google.android.gms.ads.APPLICATION_ID"
      android:value="${admobAppId}" />
  </application>

</manifest>
